@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Work Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif !important;
}

.paginationBtns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.paginationBtns a {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  margin: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}
.paginationBtns a:hover, 
.paginationActive a {
  color: #fff;
  background-color: rgba(250, 250, 250, 0.2);
}

.nextBtn a, .prevBtn a {
  width: 100%;
}